.menu-page nav a {
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
}

.menu-page nav a::before,
.menu-page nav a::after {
    background-color: black;
}

.menu-container {
    max-width: 1000px;
    /* ou toute autre largeur que vous trouvez adaptée */
    margin: 0 auto;
    /* pour centrer horizontalement */
    padding: 20px;
    /* ajoute de l'espace autour du contenu */
}

.menu-section h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.separator {
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
}

.dish-info {
    display: flex;
    flex-direction: column;
    /* Pour positionner le nom du plat au-dessus des ingrédients */
    flex-grow: 1;
}

.menu-section ul {
    list-style-type: none;
    padding: 0;
}

.menu-section li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu-section li .dish-price {
    align-self: flex-end;
}

.dish-name,
.dish-price {
    font-size: 1.3em;
    padding: 0 10px;
    /* ajoute de l'espacement à gauche et à droite du nom du plat et du prix pour éviter qu'ils ne soient trop près du bord */
}

.dish-ingredients {
    font-size: 1em;
    /* Taille de police plus petite pour les ingrédients */
    font-style: italic;
    /* Italique pour les ingrédients */
    padding: 0 10px;
    margin-top: 5px;
}

.dish-extra {
    font-size: 1.2em;
    font-style: italic;
    padding: 0 10px;
    margin-top: 5px;
}